<div class="w-full bg-white shadow-xl rounded-lg overflow-hidden">
  <a href="{{ product.url }}">
    <div class="h-40 md:h-80 overflow-hidden">
      {% if product.featured_image != blank %}
        <img
          src="{{ product.featured_image | img_url: 'medium' }}"
          alt="{{ product.featured_image.alt }}"
          class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"
          loading="lazy"
          width="{{ product.featured_image.width }}"
          height="{{ product.featured_image.height }}">
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100 transition duration-1000 ease-in-out transform hover:scale-105' }}
      {% endif %}
    </div>
  </a>
  <div class="flex flex-col p-4 text-center">
    <span class="text-sm text-gray-400">{{ product.vendor }}</span>
    <a href="{{ product.url }}">
      <h2 class="text-gray-700 uppercase font-medium">{{ product.title }}</h2>
    </a>
    <p class="text-gray-500">{{ product.price | money }}</p>
  </div>
</div>